<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<system.serviceModel>

		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_ISupplierServiceContract" maxReceivedMessageSize="262144">
					<readerQuotas maxDepth="32" maxStringContentLength="262144" maxArrayLength="16384"/>
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="UserName" establishSecurityContext="False"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>

		<client>
			<endpoint binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISupplierServiceContract" contract="SupplierWebService.ISupplierServiceContract" name="WSHttpBinding_ISupplierServiceContract"/>
		</client>

	</system.serviceModel>

</configuration>
