@page
@model HalewoodModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.Halewood &nbsp; <img src="~/Imagenes/Inglaterra.png" /></h2>
    <div class="jumbotron jumbotron2">
        <br />
        <div class="text-center">
            <img class="bordessombray99sinmargen" src="~/Imagenes/Halewood.jpg" />
        </div>
        <br /><br /><br />
        <table width="100%">
                <tr>
                    <td class="columnas2">
                        <p><strong>ESPACK EUROLOGÍSTICA, LTD - @Idiomas.Halewood.ToUpper()</strong></p>
                        <br />
                        <ul>
                            <li>
                                <p>@Idiomas.OficinasCentrales.ToUpper() <br /></p>
                                <br />
                            </li>
                            <li>
                                <p>19 RENAISSANCE WAY</p>
                            </li>
                            <li>
                                <p>BOULEVARD INDUSTRY PARK</p>
                            </li>
                            <li>
                                <p>HALEWOOD</p>
                            </li>
                            <li>
                                <p>LIVERPOOL L24 9JW</p>
                            </li>
                            <li>
                                <p>Tel. +44 (0) 787 977 7585</p>

                            </li>
                        </ul>
                        <br />                        
                    </td>
                    <td class="columnas2">
                        <iframe class="bordessombray95" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1113.0402145233736!2d-2.8431534115305714!3d53.34940922357117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487ae02f1af03d91%3A0x19612d4dea9df0e7!2s19+Renaissance+Way!5e1!3m2!1sen!2ses!4v1404809413471" width="400" height="400" frameborder="0" style="border:0"></iframe>
                    </td>
                </tr>
        </table>
        <br />
    </div>
</div>
<div class="col-sm-1"></div>