#Formulario {
    margin: 0;
    box-sizing: border-box;
}
#Documento, #Descripcion, #Archivo {
    width:380px;
}

#Formulario {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Nombre {
position:absolute;
top: -700%;
}
#Descrip {
    position: absolute;
    top: -500%;
}
.form {
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
}

#File {
    position: absolute;
    top: -300%;
}
#Edicion {
    position: absolute;
    top: -100%;
    width: 100%;
}
#TiDocument {
    position: absolute;
    top: 100%;
    left:-250px;
}
#CoTipo {
    position: absolute;
    top: 100%;
    left: 60px;
}
#TiDocumentNew {
    position: absolute;
    top: -100%;
    left: -350px;
}

#CoTipoNew {
    position: absolute;
    top: -100%;
    left: 100px;
}
#Estado {
    position: absolute;
    top: 100%;
    left: 250px;
}
.NombreLabel {
    color:#4674a9;
    padding:5px;
}
.form #Descrip:after {
}
    .form {
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
}
select,option {
    color: #fff;
    background: black;
    padding:10px;
}
.form input {
        width: 100%;
        height: 100%;
        background: none;
        color: #fff;
        padding-bottom: 15px;
        border: none;
        outline: 0px;

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background: black;
    color: #fff;
    padding-bottom: 15px;
    -webkit-transition-delay: 9999s;
}

    .form .lbl-nombre {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid #c7c7c7;
    }

        .form .lbl-nombre:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 100%;
            border-bottom: 3px solid #4674a9;
            transform: translateX(-100%);
            transition: all 0.3s ease;
            overflow: hidden;
        }

.text-nomb {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #fff;
}

.form input:focus + .lbl-nombre .text-nomb, .form input:valid + .lbl-nombre .text-nomb {
    transform: translateY(-150%);
    font-size: 14px;
    color: #4674a9;
}

.form input:focus + .lbl-nombre:after, .form input:valid + .lbl-nombre:after {
    transform: translateX(0%);
}


@media only screen and (min-width:320px) and (max-width:768px) {
    .form {
        width: 85%;
    }
}
