@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm User";
}

<h2>@ViewData["Title"]</h2>
<div class="col-md-4">

        <h4>Complete Register.</h4>
    <br/><br/>
        <form class="form" action="~/home/UserUpdate2" enctype="multipart/form-data" name="CreatePost" method="post">
            <input name="IdUser" type="text" value="@TempData["UserId"].ToString()" hidden />
            <button style="margin:auto;" type="submit" class="Botones">Complete User Data </button>
        </form>
</div>