@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<title>@ViewData["Title"]</title>
<link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Login/css/main.css">

<section id="loginForm">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" id="account" method="post">
                    <br /> <br />
                    <span class="login100-form-title p-b-43">
                        Login to Continue
                    </span>
                    <span class="text-danger field-validation-valid" data-valmsg-replace="true">@ViewBag.Mensaje </span>
                    <br />
                    <br />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="wrap-input100 validate-input" data-validate="User is required">
                        <label for="user"></label>
                        <input  class="input100 has - val" type="text" asp-for="Input.Email" required onchange="CambiosInput()" />
                        <span class="focus-input100"></span>
                        <span class="label-input100" id="SpanUser">User</span>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <br />
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <label for="pass"></label>
                        <input class="input100" type="password" asp-for="Input.Password" value="*9Espack" required onchange="CambiosInput()" />
                        <span class="focus-input100"></span>
                        <span class="label-input100" id="SpanPass">Password</span>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="container-login100-form-btn">
                        <br />
                        <br />
                        <input class="login100-form-btn" type="submit" value="Login" />
                    </div>

                </form>


                    <div class="login100-more">
                        <img style="width: 85%; position: absolute; top: -999px; bottom: -999px; left: -9999px; right: -9999px; margin: auto;" src="~/Images/logo.png" />
                    </div>
</div>
        </div>
    </div>
</section>
<script>
    document.getElementById("Encabezado").style.display = "none";
    document.getElementById("Contenedor").className = "no";
    document.getElementById("Main").className = "no";
    if (document.getElementById("Input_Email").value != "" && document.getElementById("Input_Email").value != null) {
        document.getElementById("SpanUser").style.display = "none";
    }
    function CambiosInput() {
        if (document.getElementById("Input_Email").value != "" && document.getElementById("Input_Email").value != null) {
            document.getElementById("SpanUser").style.display = "none";
        } else {
            document.getElementById("SpanUser").style.display = "inline";
        }
        if (document.getElementById("Input_Password").value != "" && document.getElementById("Input_Password").value != null) {
            document.getElementById("SpanPass").style.display = "none";
        } else {
            document.getElementById("SpanPass").style.display = "inline";
        }
    }
</script>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
