@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark" >Hello  @Metodos.ObtenUsuarioActivo(User.Identity.Name).NombreU</span>
        </li>
        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="Botones">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="Botones" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
