<br />
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h2 class="page-header page-header2">@Idiomas.Bridgend &nbsp;<img class="img-thumbnail" src="~/Imagenes/Gales.png" /></h2>
        <div class="jumbotron jumbotron2">
            <br />
            <div class="text-center">
                <img class="bordessombray99sinmargen" src="~/Imagenes/Bridgend.jpg" />
            </div>
            <br /><br />
            <table width="100%">
                <tr>
                    <td class="columnas2">
                        <p>ESPACK EUROLOGÍSTICA - @Idiomas.Bridgend.ToUpper()</p>
                        <br />
                        <p>
                            @Idiomas.OficinasCentrales.ToUpper()
                        </p>
                        <br />
                        <ul>
                         <li>
                          <p>
                            UNIT 2 NEW STREET BRIDGEND INDUSTRIAL ESTATE
                            <br />                            
                                BRIDGEND, BRIDGEND COUNTRY BOROUGH
                                <br />
                                CF31 3UD, WALES, U.K.
                                <br />
                                Tel. +44(0) 7875999684
                          </p>
                                <br />
                         </li>
                        </ul>
                        <br /><br />
                    </td>
                    <td class="columnas2">
                        <iframe class="bordessombray95" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1187.8968473303457!2d-3.5620486241903584!3d51.49778159490017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e6db21b1e6181%3A0x813eeaa55d180797!2s4+New+St%2C+Bridgend+CF31+3UD%2C+Reino+Unido!5e1!3m2!1ses!2ses!4v1447168168214" width="400" height="400"></iframe>
                    </td>
                </tr>
            </table>
            <br />
        </div>
    </div>
        <div class="col-sm-1"></div>