<br />
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h2 class="page-header page-header2">@Idiomas.CastleBromwich&nbsp;<img class="img-thumbnail"  src="~/Imagenes/Inglaterra.png" /></h2>
        <div class="jumbotron jumbotron2">
            <br />
            <div class="text-center">
                <img style="width:75%" class="bordessombray99sinmargen" src="~/Imagenes/Castle3.jpg" />
            </div>
            <br /><br />
            <table width="100%">
                <tr style="width:100%">
                    <td class="columnas2">
                        <p>ESPACK EUROLOGÍSTICA - @Idiomas.CastleBromwich.ToUpper()</p>
                        <br />
                        <p>
                            @Idiomas.OficinasCentrales.ToUpper()<br />
                        </p>
                        <br />
                        <ul>
                            <li><p>UNIT 21, SPITFIRE ROAD</p>
                            <li />
                            <li><p>ERDINGTON - BIRMINGHAM</p>
                            <li />
                            <li><p>B24 9PR, ENGLAND, U.K.</p>
                            <li />
                            <li><p>Tel:+44(0)1213 772 300</p>
                            <li />
                        </ul>
                        <br />
                    </td>
                    <td class="columnas2">
                        <iframe class="bordessombray95" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2962.3471209720383!2d-1.8205033840469036!3d52.51443924439358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bacd97cd9f7f%3A0xa3d7aed1564ab0d6!2s21%20Spitfire%20Rd%2C%20Birmingham%20B24%209PW%2C%20Reino%20Unido!5e1!3m2!1ses!2ses!4v1646830812126!5m2!1ses!2ses" width="400" height="400" loading="lazy"></iframe>
                    </td>
                </tr>
            </table>
            <br/>
        </div>
    </div>
    <div class="col-sm-1"></div>