<br />
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h2 class="page-header page-header2">@Idiomas.Graz&nbsp;<img class="img-thumbnail" src="~/Imagenes/austria.png" /></h2>
        <div class="jumbotron jumbotron2">
            <br />
            <div class="text-center">
                <img class="bordessombray99sinmargen" style="width:auto;" src="~/Imagenes/GrazMagna2.png" />
            </div>
            <br />
            <table width="100%">
                <tr>
                    <td class="columnas2">
                        <p>
                            ESPACK EUROLOGÍSTICA - @Idiomas.Graz.ToUpper()
                        </p>
                        <br />
                        <ul>
                            <li>
                                <p>PLANTA DE MONTAJE, HALL 1</p>
                            <li />
                            <li>
                                <p>LIEBENAUER HAUPTSTRASSE, 317</p>
                            <li />
                            <li>
                                <p> 8041 GRAZ – AUSTRIA</p>
                            <li />
                            <li>
                                <p> Tel:+421 903 44 84 33</p>
                            <li />
                        </ul>
                        <br />
                    </td>
                    <td class="columnas2">                        
                        <iframe class="bordessombray95" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6636.971209890266!2d15.469245790631033!3d47.02150696399215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476fb4d64ab11233%3A0x4f43d6c255cfe0b3!2sLiebenauer%20Hauptstra%C3%9Fe%20317%2C%208041%20Graz%2C%20Austria!5e1!3m2!1ses!2ses!4v1654162158768!5m2!1ses!2ses" width="400" height="400" loading="lazy"></iframe>
                    </td>
                </tr>
            </table>
            <br />
        </div>
    </div>
    <div class="col-sm-1"></div>