@{ ViewData["Title"] = "S . G . D . E . Tools";

}
<div class="text-center">
    <a style="float:left; width:auto; margin-left:2%;" class="Botones" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change Password</a>
    @if (Metodos.ObtenRol(User.Identity.Name) == "10")
    {
        <a style="float:left; width:auto; margin-left:2%;" class="Botones" href="~/Home/Rol">New Rol User</a>
        <a style="float:left; width:auto; margin-left:2%;" class="Botones" asp-area="Identity" asp-page="/Account/Register">New User</a>
    }

    @if (Convert.ToInt32(Metodos.ObtenRol(User.Identity.Name)) > 7)
    {
        <a style="float:left; width:auto; margin-left:2%;" class="Botones" asp-area="" asp-controller="Home" asp-action="ToolsTypeDoc">Update Type Doc.</a>
        <a style="float:left; width:auto; margin-left:2%;" class="Botones" asp-area="" asp-controller="Home" asp-action="ToolsCodeDoc">Update Code Doc.</a>
        <a style="float:left; width:auto; margin-left:2%;" class="Botones" asp-area="" asp-controller="Home" asp-action="Movimientos">Movements</a>
    }
</div>
