@page
@model EslovaquiaModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.Eslovaquia &nbsp;<img src="~/Imagenes/Eslovaquia.png" /></h2>
    <div class="jumbotron jumbotron2">
        <br />
        <div class="text-center">
            <img style="width:65%" class="bordessombray99sinmargen" src="~/Imagenes/Eslovaquia.jpg" />
        </div>
        <br /><br />
        <table width="100%">
            <tr>
                <td class="columnas2">
                    <p><strong>ESPACK EUROLOGÍSTICA, SRO - @Idiomas.Eslovaquia.ToUpper()</strong></p>
                    <ul>
                        <li><p><br />@Idiomas.OficinasCentrales.ToUpper()<br /><br /></p>
                        <li />
                        <li><p>Cez panské 4007/7, 949 01 </p>
                        <li />
                        <li><p>82QX+FX @Idiomas.Eslovaquia Slovakia</p>
                        <li />
                        <li><p>Tel. +421 903 44 84 33</p>
                        <li />
                    </ul>
                    <br>
                </td>
                <td class="columnas2">
                    <iframe class="bordessombray95" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7958.8137440958035!2d18.05097216136064!3d48.3383978398807!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8936c0fe07524f0e!2sEspack%20Eurolog%C3%ADstica%20s.r.o.!5e1!3m2!1ses!2ses!4v1648130239844!5m2!1ses!2ses" width="400" height="400" loading="lazy"></iframe>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>
<div class="col-sm-1"></div>