@page
@model MadridModel
@using Microsoft.AspNetCore.Http
@{
    if (HttpContext.Session.GetString("lengua") != null)
    {
        Clases.IdiomaCheck(HttpContext.Session.GetString("lengua").ToString());
    }
}
<br />
<div class="col-sm-1"></div>
<div class="col-sm-10">
    <h2 class="page-header page-header2">@Idiomas.Madrid &nbsp; <img src="~/Imagenes/españa.png" /></h2>
    <div class="jumbotron jumbotron2">
        <br />
        <div class="text-center">
            <img class="bordessombray99sinmargen" src="~/Imagenes/Madrid.jpg" />
        </div>
        <br /><br />
        <table width="100%">
            <tr>
                <td class="columnas2">
                    <p>
                        <strong>
                            ESPACK EUROLOGÍSTICA, S.L. - @Idiomas.Madrid.ToUpper()
                        </strong>
                    </p>
                    <br />
                    <p>
                        @Idiomas.OficinasCentrales.ToUpper()<br /><br />
                    </p>
                    <ul>
                        <li>
                            <p>
                                C/ O´DONNELL, 4 – TORRE DE VALENCIA<br />
                                28009 MADRID (ESPAÑA)<br />
                                TEL. + 34 91 435 07 11<br />
                            </p>
                        </li>
                    </ul>
                    <br />
                </td>
                <td class="columnas2">
                    <iframe class="bordessombray95" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1230.4989481218297!2d-3.680190602754201!3d40.42170722268108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228a308373a49%3A0x1f923ead17d27e29!2sTorre%20de%20Valencia%2C%2028009%20Madrid!5e1!3m2!1ses!2ses!4v1646319939855!5m2!1ses!2ses" width="400" height="400" loading="lazy"></iframe>
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
<div class="col-sm-1"></div>