@model CreatePostTools
@{
    ViewData["Title"] = "S . G . D . E . New Code.";
}
<link rel="stylesheet" type="text/css" href="~/css/Formulario.css">
@if (ViewBag.Mensaje != "" & ViewBag.Mensaje != null)
{
    <div class="text-center">
        @if (ViewBag.Mensaje.Substring(0, 5).ToUpper() == "ERROR")
        {
            <p style="color:lightcoral">@ViewBag.Mensaje</p>
        }
        else
        {
            <p style="color:lightgreen">@ViewBag.Mensaje</p>
        }
    </div>
}
@{Global.Mensaje = ""; }
<div class="text-center" id="Formulario">
    <form class="form" asp-action="NewCode" enctype="multipart/form-data" name="CreatePost" method="post">
        <div id="File">
            <input asp-for="Cod" type="text" value="" maxlength="5" required />
            <label class="lbl-nombre">
                <span class="text-nomb">New Code</span>
            </label>
        </div>
        <button style="position:absolute;top:100%;left:0" type="submit" class="Botones">Submit</button>

    </form>
</div>
